### CESAR School :: Especialização em Ciência de Dados :: 2024.1
Aula 01 :: xxxxx

Séries Temporais

```
Data: 21 de janeiro de 2025 
Prof.: Pedro Braga
Aluno: Marlos Ribeiro
```

In [1]:
%%bash
uv add yfinance

Resolved 61 packages in 287ms
Installed 13 packages in 5ms
 + beautifulsoup4==4.12.3
 + certifi==2024.12.14
 + charset-normalizer==3.4.1
 + frozendict==2.4.6
 + html5lib==1.1
 + idna==3.10
 + lxml==5.3.0
 + multitasking==0.0.11
 + peewee==3.17.8
 + requests==2.32.3
 + soupsieve==2.6
 + webencodings==0.5.1
 + yfinance==0.2.52

In [2]:
import yfinance as yf

In [3]:
def get_ticket(ticker):
    yf_df = yf.Ticker(ticker)
    return yf_df.history(period="max")

In [4]:
bbas = get_ticket("BBAS3.SA")
bbas.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-03 00:00:00-02:00,0.502635,0.512209,0.490667,0.490667,1029600,0.0,0.0
2000-01-04 00:00:00-02:00,0.490667,0.491864,0.467330,0.467330,628200,0.0,0.0
2000-01-05 00:00:00-02:00,0.466732,0.472716,0.449978,0.472118,957600,0.0,0.0
2000-01-06 00:00:00-02:00,0.472118,0.478700,0.466732,0.478700,410400,0.0,0.0
2000-01-07 00:00:00-02:00,0.478700,0.478700,0.467929,0.467929,788400,0.0,0.0