### CESAR School :: Especialização em Ciência de Dados :: 2024.1
Aula 01 :: xxxxx

Séries Temporais

```
Data: 21 de janeiro de 2025 
Prof.: Pedro Braga
Aluno: Marlos Ribeiro
```

In [1]:
%%bash
uv add yfinance

Resolved 61 packages in 0.73ms
Audited 55 packages in 0.02ms

In [2]:
import yfinance as yf

In [3]:
def get_ticket(ticker):
    yf_df = yf.Ticker(ticker)
    return yf_df.history(period="max")

In [4]:
bbas = get_ticket("BBAS3.SA")
bbas.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-03 00:00:00-02:00,0.503122,0.512705,0.491143,0.491143,1029600,0.0,0.0
2000-01-04 00:00:00-02:00,0.491143,0.492341,0.467784,0.467784,628200,0.0,0.0
2000-01-05 00:00:00-02:00,0.467185,0.473175,0.450414,0.472576,957600,0.0,0.0
2000-01-06 00:00:00-02:00,0.472576,0.479164,0.467185,0.479164,410400,0.0,0.0
2000-01-07 00:00:00-02:00,0.479164,0.479164,0.468383,0.468383,788400,0.0,0.0